@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Open+Sans:ital,wght@1,300&display=swap');
body{
    font-family: 'Limelight', cursive;
font-family: 'Open Sans', sans-serif;
}
/**containers **/
.container-centre
{
 max-width: 600px;
 margin: auto;   
}
.fluid-container
{
    padding-left: 1rem;
    padding-right: 1rem;

}

/** primary link **/
.primary-link
{
    text-decoration: none;
    padding: 1rem 1rem;
    background-color:blueviolet;
    border-radius: 0.5rem;
    color: white;
}

.Secondary-link
{
    text-decoration: none;
    background-color: white;
    border:1px ;
    padding:1rem 1rem;
    border-radius: 0.5rem;
    color: teal;
   
}